h1 {
    text-align: center;
    font-size: 3em;
    font-family: cursive;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 300px;
    width: 450px;
    margin: 15px;
    transition: all 0.5s;
}
img:hover {
    transform: scale(1.1);
}